<h1>Favorites</h1>
<table class="table table-condensed">
  <tbody>
    <% favoritesList.forEach(function(favorite){ %>
      <tr>
        <td>
          <div class="text-center">
            <h4><%= favorite.title %></h4><br>
            <%= favorite.year %><br>
            <a href="/show/<%= favorite.imdbId %> ">
              <img style="width:20%;" src="<%= favorite.poster %>"><br></a>
            <a class="btn btn-success" href="/favorites/<%= favorite.imdbId %>/comments">Comment</a>
            <form method="Post" action="favorites/<%= favorite.imdbId %>?_method=delete">
            <input type="submit" class="btn btn-danger" value="Unfavorite">
            </form>
            <a class="btn btn-info" href="/favorites/<%= favorite.imdbId %>/tags"><b>+ </b>Add a Tag</a>
          </div>
          <hr>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>




